.counter-container {
  background-color: #D4D4A7;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  margin-top: 20px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.counter-title {
  background-color: #0000FF;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.counter-number {
  font-size: 24px;
  margin: 20px 0;
}

.counter-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.counter-buttons button {
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  min-width: 100px;
}

.counter-buttons button:hover {
  background-color: #0056b3;
}

.counter-buttons button:disabled {
  background-color: #D3D3D3;
  cursor: not-allowed;
}
