.counter-container {
  background-color: #D4D4A7;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  margin-top: 20px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.task-title {
  background-color: #0000FF;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px; /* Ensure the font size is the same */
}

.counter-number {
  font-size: 24px;
  margin-bottom: 20px;
}

.counter-buttons button {
  padding: 10px;
  margin: 5px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.counter-buttons button:hover {
  background-color: #0056b3;
}
