.tasks-menu {
  background-color: #D4A017;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 20px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.buttons-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.task-button {
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  min-width: 70px;
}

.task-button:hover {
  background-color: #0056b3;
}
