/* src/components/Dashboard/Dashboard.css */
.dashboard-container {
  background-color: #eac170;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  margin-top: 20px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.dashboard-title {
  background-color: #0000FF;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.task-button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.task-button:hover {
  background-color: #0056b3;
}
